.product-description{
    margin-bottom: 3rem;
    h2{
        padding-top: 1rem;
        font-size: 1.5rem;
        font-weight: 400;
        border-bottom: 1px solid gray ;
        margin: 0 2rem;
        
        border-style: sol;
    }
    p{
        margin-top: 1rem;
        margin-left: 2rem;
    }
}