@use '../base/_variables.scss' as variables;
header {
    z-index: 9999;
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: variables.$Main-Color ;
    color: white;
    padding: 20px;
    z-index: 3;
    div {
        .title {
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            font-style: normal;
            font-family: "Libre Barcode 39 Text", system-ui;
            color: white;
            &:hover {
                color: white;
            }
        }
        .nav-link {
            color: white;
        }
        .navbar-toggler {
            background-color: white;
        }
    }
}