
@media (max-width: 890px) {
    .banner{
        .banner-bg{ 
            background-size: cover;
            background-repeat: no-repeat;
    
          div {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40%;
            }
        }
    }

   

    .highlights-menu {
        p {
            margin-top: 2rem;
        }

        .first-images {
            grid-template-columns: repeat(2, 1fr);

            .img1 {
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }

    .product-menu{
        .inputs{
            .gold-button {
                button {
                    height: 10%;
                    width: 30%;
                }
            }
            .two-image {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .products-main{
        height: 100rem;
        grid-template-columns: repeat(1, 1fr);        
    }
    .info{
        margin-top: 0rem;
        padding-top: 0rem;
        .size {
            height: 10rem;
            flex-direction: column;
            }
        }
   


        .catalog-index{
           
            grid-template-columns: repeat(1, 1fr);
            
            gap: 2rem;
        }
        .main-contact{

            .contact-location{

                img{

                    width: 90%;

        
                }
            }

            .contact-info{
           
                p{
                    width: 100%;
                    }
            }

    }
    .us-main{
        margin: 2rem 2rem;
        align-items: center;

        h1{
            grid-column: span 2;
        }
        img{
            width: 80%;
            grid-column: span 2;
            margin: auto;
            
        }
    }
   
  
}


